
/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.hide {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 660px;
    padding: 50px;
}

h1,
h2,
h3,
h4 {
    color: white;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 44px;
    padding-bottom: 10px;
}

h2 {
    font-size: 22px;
    padding-bottom: 20px;
}

h4 {
    color: black;
    font-size: 20px;
    padding-bottom: 20px;
}


/* CATEGORY SELECTION STYLES */

.category,
.random-category {
    background-color: white; 
}

.category {
    width: 100%;
    height: 100%;
    padding: 25px;
}
    
.random-category {
    height: 60px;
    padding: 20px 60px;
    margin: 0px auto 20px auto;
}

.random-category:hover,
.category:hover {
    transform: scale(1.05);
    transition: all 0.25s ease-in-out;
}

.category img {
    width: 65px;
    height: 65px;
}

.random-category p,
.category p {
    font-weight: 600;
    font-size: 15px;
}

.category p {
    padding-top: 15px;
}


/* DIFFICULTY SELECTION STYLES */

.difficulty-section {
    background-color: white;
    width: 100%;
    padding: 30px;
}

.difficulty-section h2 {
    color: black;
}

.difficulty-btn {
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.difficulty-btn:hover {
    transform: scale(1.07);
    transition: all 0.25s ease-in-out;
}


/* BOTTOM BUTTON STYLES */

.btn {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.btn:hover {
    background: rgba(59,130,246);
}



/* QUESTION CARD STYLES */

.question-container {
    display: flex;
    flex-direction: column;
    background-color: white; 
    padding: 25px;
    border-radius: 25px;
}

.question-class {
    color: black;
}

.answr-btns {
    color: white;
    background: rgba(79,70,229);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    font-weight: bold;
}

.answr-btns:hover {
    background: rgba(124,58,237);
}

.answr-btns:active {
    background: rgba(124,58,237);
}

.answr-btns:active {
    background: rgba(124,58,237);
}

/* SELECTION ATTRIBUTES */

/* Selected */
.category-selected,
.difficulty-selected {
    opacity: 100%
}

/* Not Selected */
.category-unselected,
.difficulty-unselected {
    opacity: 70%
}

/* HIGHSCORES STYLES */
li {
    padding-top: 10px;
}


/* MODAL STYLES */

.modal {
    position: fixed;
    z-index: 200;
    top: 25%;
    left: 35%;
    width: 30%;
    background: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    padding: 25px;
    border-radius: 30px;
}

.modal h1 {
    color: rgba(79,70,229);
    font-size: 24px;
}

.modal-input {
    margin: 0.5rem 0;
}

.modal-input textarea {
    border: solid gray 1px;
    opacity: 70%;
    width: 100%;
    font: inherit;
    resize: none;
}

.modal-input textarea:focus {
    outline: none;
    background: #ffdbfe;
    border-color: rgba(124,58,237);
}

.modal-actions {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.btn-cancel {
    color: white;
    font-weight: 700;
    font-size: 14px;
    background: rgba(59,130,246);
    padding: 10px;
    width: 50%;
    border-radius: 30px;

}

.btn-confirm {
    color: white;
    font-weight: 700;
    font-size: 14px;
    background: rgba(124,58,237);
    padding: 10px;
    width: 50%;
    border-radius: 30px;
    }

.btn-cancel:hover,
.btn-cancel:active,
.btn-confirm:hover,
.btn-confirm:active {
    transform: scale(1.07);
    transition: all 0.25s ease-in-out;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
