
/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.hide {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 660px;
    padding: 50px;
}

h1,
h2,
h3 {
    color: white;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

h2 {
    font-size: 22px;
    padding-bottom: 20px;
}


/* CATEGORY SELECTION STYLES */

.category,
.random-category {
    background-color: white; 
}

.category {
    width: 100%;
    height: 100%;
    padding: 25px;
}
    
.random-category {
    height: 60px;
    padding: 20px 60px;
    margin: 0px auto 20px auto;
}

.random-category:hover,
.category:hover {
    transform: scale(1.05);
    transition: all 0.25s ease-in-out;
}

.category img {
    width: 65px;
    height: 65px;
}

.random-category p,
.category p {
    font-weight: 600;
    font-size: 15px;
}

.category p {
    padding-top: 15px;
}


/* DIFFICULTY SELECTION STYLES */

.difficulty-section {
    background-color: white;
    width: 100%;
    padding: 30px;
}

.difficulty-section h2 {
    color: black;
}

.difficulty-btn {
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.difficulty-btn:hover {
    transform: scale(1.07);
    transition: all 0.25s ease-in-out;
}


/* BOTTOM BUTTON STYLES */

.btn {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.btn:hover {
    background: rgba(59,130,246);
}



/* QUESTION CARD STYLES */

.question-container {
    display: flex;
    flex-direction: column;
    background-color: white; 
    padding: 25px;
    border-radius: 25px;
}

.question-class {
    color: black;
}

.answr-btns {
    color: white;
    background: rgba(79,70,229);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    font-weight: bold;
}

.answr-btns:hover {
    background: rgba(124,58,237);
}

.answr-btns:active {
    background: rgba(124,58,237);
}


/* SELECTION ATTRIBUTES */

/* Selected */
.category-selected,
.difficulty-selected {
    opacity: 100%
}

/* Not Selected */
.category-unselected,
.difficulty-unselected {
    opacity: 70%
}

/* HIGHSCORES STYLES */
li {
    padding-top: 10px;
}
